@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
}

.humo span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: "Architects Daughter", cursive;
  font-size: 2.1rem;
  color: white;
  justify-content: center;
}
.humo span:nth-child(even) {
  animation-name: smoky-mirror;
}
@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
.humo span:nth-of-type(1) {
  animation-delay: 3.1s;
}
.humo span:nth-of-type(2) {
  animation-delay: 3.2s;
}
.humo span:nth-of-type(3) {
  animation-delay: 3.3s;
}
.humo span:nth-of-type(4) {
  animation-delay: 3.4s;
}
.humo span:nth-of-type(5) {
  animation-delay: 3.5s;
}
.humo span:nth-of-type(6) {
  animation-delay: 3.6s;
}
.humo span:nth-of-type(7) {
  animation-delay: 3.7s;
}
.humo span:nth-of-type(8) {
  animation-delay: 3.8s;
}
.humo span:nth-of-type(9) {
  animation-delay: 3.9s;
}
.humo span:nth-of-type(10) {
  animation-delay: 4s;
}
.humo span:nth-of-type(11) {
  animation-delay: 4.1s;
}
.humo span:nth-of-type(12) {
  animation-delay: 4.2s;
}
.humo span:nth-of-type(13) {
  animation-delay: 4.3s;
}
.humo span:nth-of-type(14) {
  animation-delay: 4.4s;
}
.humo span:nth-of-type(15) {
  animation-delay: 4.5s;
}
.humo span:nth-of-type(16) {
  animation-delay: 4.6s;
}
.humo span:nth-of-type(17) {
  animation-delay: 4.7s;
}
.humo span:nth-of-type(18) {
  animation-delay: 4.8s;
}
.humo span:nth-of-type(19) {
  animation-delay: 4.9s;
}
.humo span:nth-of-type(20) {
  animation-delay: 5s;
}
.humo span:nth-of-type(21) {
  animation-delay: 5.1s;
}

.header_colores {
  background-color: black !important;
  font-family: "Bebas Neue", cursive;
  display: flex;
  justify-content: end;
  font-size: 1.3rem;
}
.header_colores .nav-link {
  color: white !important;
}

body {
  background-image: linear-gradient(#e4c434, #df8703);
}

.titulo_principal {
  margin-top: 1rem;
  color: black;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}

.texto_subtitulo {
  color: #df8703;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

.fondo_contenedorImg {
  background-color: #edd04b;
  width: 70%;
  height: 100%;
  border-radius: 1%;
}
.fondo_contenedorImg img {
  margin-top: 2rem;
  border-radius: 10%;
  transition: transform 0.5s;
  height: 50%;
  margin-bottom: 2rem;
}
.fondo_contenedorImg img:hover {
  transform: scale(1.05);
  transition-delay: 0.1s;
}

#ult_foto {
  margin-bottom: 2rem;
}

.h4_texto {
  font-family: "Bebas Neue", cursive;
  font-size: 2.1rem;
  color: #e0d7d7;
  text-shadow: 0.15rem 0.15rem #000000;
}

.titulo_paginas, .quienes_somos_contenedor, .nuestros_clientes_contenedor {
  color: #df8703;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 0.15rem 0.15rem #000000;
  margin-top: 1rem;
}

.color_contenedores {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-link:hover {
  background-color: #edd04b;
  color: #000000 !important;
}

.footer {
  margin-top: 2rem;
  height: 6rem;
  background-color: black !important;
}
.footer a img {
  height: 5rem;
  width: auto;
}

.productos {
  width: 100%;
}
.productos img {
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.5s;
}
.productos img:hover {
  transform: scale(1.05);
  transition-delay: 0.1s;
}

.productos_chipa img {
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
  border-radius: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.5s;
}
.productos_chipa img:hover {
  transform: scale(1.05);
  transition-delay: 0.1s;
}

.carousel-inner {
  margin-top: 30px;
}
.carousel-inner img {
  text-align: center;
  border-radius: 5%;
  border: white 3px solid;
}

.carousel-control-prev-icon {
  margin-right: 25px;
}

.carousel-control-next-icon {
  margin-left: 25px;
}

.quienes_somos_contenedor, .nuestros_clientes_contenedor {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  text-align: center;
  padding: 5rem;
  font-size: 33.3333333333px;
  margin-top: 50px;
  color: black;
  text-shadow: none;
}

.bordes {
  border: blue 1px solid;
}

.verde {
  background-color: green;
  color: white;
}

.rojo {
  background-color: red;
  color: white;
}

.contenedorFooter {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.contenedorFooter a {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.alturaFooter {
  height: 5rem;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=estilos.css.map */
