$amarillo: rgb(237, 208, 75);
$amarillo2: rgb(223, 135, 3);
$amarillo3: rgb(238, 215, 111);
$amarillo4: rgb(228, 196, 52);
$negro: black;
$blanco: rgb(255, 255, 255);
$gris: rgb(224, 215, 215);

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    padding: 0;
    margin: 0;
}

$unpixel:1;


html{
    scroll-behavior: smooth;
}



// index y generales colores, y fuentes


.header_colores{
    background-color: black !important;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: end;
    font-size: 1.3rem ;
    max-width: 100%;

    .nav-link{
        color:white !important;
    }
}



body{
    background-color: $amarillo;
}


.titulo_principal{
    margin-top: 1rem;
    color: $negro;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;

}

.texto_subtitulo{
    color: $amarillo2;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;

}

.texto_general{
    font-family: 'Bebas Neue', cursive;
    @extend .titulo_paginas;
    $var1: 100%;
    width: $var1;
    text-align: center;
    padding: 5rem;
    $fontbig: 50px;
    font-size: $fontbig/1.5;
    margin-top: $unpixel*50px;
    color:$negro;
    text-shadow: none;
}

.fondo_contenedorImg{
    background-color: rgba(255, 255, 255, 0.2);
    width: 70%;
    height: 100%;
    border-radius: 1%;


    img{
        margin-top: 2rem;
        border-radius: 10%;
        transition: transform 0.5s;
        height: 50%;
        margin-bottom: 2rem;

    }
    img:hover{
        transform: scale(1.05);
        transition-delay: 0.1s;
    }
}


#ult_foto{
    margin-bottom: 2rem;
}

.h4_texto{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.1rem;
    color: $gris;
    text-shadow: 0.15rem 0.15rem #000000;

}

.titulo_paginas{
    color: $amarillo2;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: $blanco;
    text-shadow: 0.15rem 0.15rem #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.color_contenedores{
    background-color: rgb(255, 255, 255, 0.3);
}

// texto con humo
.humo{
    margin-left: 1rem;
    margin-right: 1rem;
    span {
        display: inline-block;
        text-shadow: 0 0 0 whitesmoke;
        animation: smoky 5s 3s both;
        animation-fill-mode: initial;
        text-transform: uppercase;
        font-family: 'Architects Daughter', cursive;
        font-size: 1.5rem;
        color: $blanco;
        justify-content: center;
      }
      
      span:nth-child(even){
        animation-name: smoky-mirror;
      }
      
      @keyframes smoky {
        60% {
          text-shadow: 0 0 40px whitesmoke;
        }
        to {
          transform:
            translate3d(15rem,-8rem,0)
            rotate(-40deg)
            skewX(70deg)
            scale(1.5);
          text-shadow: 0 0 20px whitesmoke;
          opacity: 0;
        }
      }
      
      @keyframes smoky-mirror {
        60% {
          text-shadow: 0 0 40px whitesmoke; }
        to {
          transform:
            translate3d(18rem,-8rem,0)
            rotate(-40deg) 
            skewX(-70deg)
            scale(2);
           text-shadow: 0 0 20px whitesmoke;
          opacity: 0;
        }
      }
      
      @for $item from 1 through 21 {
        span:nth-of-type(#{$item}){ 
          animation-delay: #{(3 + ($item/10))}s; 
        }
      } 
    }


// header

.nav-link:hover{
    background-color: $amarillo;
    color:#000000 !important;
}


// carousel

#carouselIndex{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;


    img{
        width: 100% !important;
        height: auto !important;
        filter: contrast(130%);
        
    }
}

// foto index

.fotoIndex{
    border-radius: 10%;
    width: 300px;
    display: block;
    margin: auto;
}

// contenedor botones index

.contenedorBotonesIndex{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
}


// botones

.boton{
    background-color: $negro;
    color: $blanco;
    height: auto;
    width:90%;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    text-align: center;
    box-shadow: 8px 8px 0px 0px $blanco;
    line-height: 12vh;
    margin-bottom: 5vh;
    word-wrap: break-word;
    a{
        text-decoration: none;
        color: $blanco;

    }
    
}


.boton:hover{
    text-decoration: none;
    background-color: $gris;
    color: $negro;
    box-shadow: 8px 8px 0px 0px $negro;
    font-size: 38px;
    line-height: 15vh;

    a{
        text-decoration: none;
        color: $negro;
    }
}



// fin index y generales colores y fuentes


// productos.html

.productos{width: 100%;
    background-color: $amarillo;
    img{
        width: 100%;
        max-width: 400px;
        height: auto;
        text-align: center;
        border-radius: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: transform 0.5s;
    }
    img:hover{
            transform: scale(1.05);
            transition-delay: 0.1s;
    }
}


.productos_chipa{
    background-color: $amarillo;
    img{

        width: 100%;
        height: auto;
        text-align: center;
        border-radius: 10%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: transform 0.5s;
    }
    img:hover{
        transform: scale(1.05);
        transition-delay: 0.1s;
    }
}

.productos_contenedor{
    font-family: 'Bebas Neue', cursive;
    @extend .titulo_paginas;
    width: 100%;
    text-align: center;
    padding: 5rem;
    font-size: 2.5rem;
    color:$negro;
    text-shadow: none;
    background-color: $amarillo2;
}

// fin nuestrosproductos.html



// quienessomos.html

.quienes_somos_contenedor{
    font-family: 'Bebas Neue', cursive;
    @extend .titulo_paginas;
    $var1: 100%;
    width: $var1;
    text-align: center;
    padding: 5rem;
    $fontbig: 50px;
    font-size: $fontbig/1.5;
    margin-top: 2vh;
    color:$negro;
    text-shadow: none;
}

.contenedorFotosQuienesSomos{
    display: flex;
    justify-content: center;

}
.fotosQuienesSomos{
    height: 100vh;
    width: auto;
    border-radius: 10%;
}

// fin quienessomos.html


// nuestrosclientes.html

.nuestros_clientes_contenedor{
    @extend .quienes_somos_contenedor
}




.contenedorFooter{
    a{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    background-color: #000000;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    }

.alturaFooter{
    height: 5rem;
    display: flex;
    justify-content: center;
}

.contenedorFooter img:hover{
    transform: scale(1.2);

}

.contenedorBotones{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction:column;
    align-items: center;
}


// recetas

// dimensión fotos receta

.fotosReceta{
    height: 45vh;
    width: auto;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.recetaTexto{
    @extend .quienes_somos_contenedor;
    font-size: 25px;
    ol{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 12vh;
    }
}

.flecha{
    height: 15vh;
    width: auto;
    position:fixed;
    right: 3%;
    top: 80%;
    z-index: 1;
    scroll-behavior: smooth;
}


// contacto.html

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label{
        @extend .titulo_paginas;
        font-size: 8vh;
    }

    input{
        background-color: $negro;
        color:$amarillo;
        height: 8vh;
    }
    
    ::placeholder{
        color: $amarillo;
    }

    .botonFormulario{
        margin-top: 10vh;
        color:$blanco;
        height: 10vh;
        width: 30vh;

    }
    margin-bottom: 5vh;
}


.textoFormulario{
    @extend .quienes_somos_contenedor;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 0px;
}

.contenedorFlecha{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flechaFormulario{
    transform: rotate(180deg);
    width: 15vh;
    height: auto;
}


// fin contacto.html

