$amarillo: rgb(237, 208, 75);
$amarillo2: rgb(223, 135, 3);
$amarillo3: rgb(207, 176, 38);
$amarillo4: rgb(228, 196, 52);
$negro: black;
$blanco: rgb(255, 255, 255);
$gris: rgb(224, 215, 215);

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    padding: 0;
    margin: 0;
}

$unpixel:1;



// index y generales colores, y fuentes



.header_colores{
    background-color: black !important;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: end;
    font-size: 1.3rem ;

    .nav-link{
        color:white !important;
    }
}


body{
    background-image: linear-gradient($amarillo, $amarillo2);
}


.titulo_principal{
    margin-top: 1rem;
    color: $negro;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;

}

.texto_subtitulo{
    color: $amarillo2;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;

}

.fondo_contenedorImg{
    background-color: rgba(255, 255, 255, 0.2);
    width: 70%;
    height: 100%;
    border-radius: 1%;


    img{
        margin-top: 2rem;
        border-radius: 10%;
        transition: transform 0.5s;
        height: 50%;
        margin-bottom: 2rem;

    }
    img:hover{
        transform: scale(1.05);
        transition-delay: 0.1s;
    }
}




#ult_foto{
    margin-bottom: 2rem;
}

.h4_texto{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.1rem;
    color: $gris;
    text-shadow: 0.15rem 0.15rem #000000;

}

.titulo_paginas{
    color: $amarillo2;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: $blanco;
    text-shadow: 0.15rem 0.15rem #000000;
    margin-top: 1rem;
}

.color_contenedores{
    background-color: rgb(255, 255, 255, 0.3);
}

// texto con humo
.humo{
    margin-left: 1rem;
    margin-right: 1rem;
    span {
        display: inline-block;
        text-shadow: 0 0 0 whitesmoke;
        animation: smoky 5s 3s both;
        text-transform: uppercase;
        font-family: 'Architects Daughter', cursive;
        font-size: 1.5rem;
        color: $blanco;
        justify-content: center;
      }
      
      span:nth-child(even){
        animation-name: smoky-mirror;
      }
      
      @keyframes smoky {
        60% {
          text-shadow: 0 0 40px whitesmoke;
        }
        to {
          transform:
            translate3d(15rem,-8rem,0)
            rotate(-40deg)
            skewX(70deg)
            scale(1.5);
          text-shadow: 0 0 20px whitesmoke;
          opacity: 0;
        }
      }
      
      @keyframes smoky-mirror {
        60% {
          text-shadow: 0 0 40px whitesmoke; }
        to {
          transform:
            translate3d(18rem,-8rem,0)
            rotate(-40deg) 
            skewX(-70deg)
            scale(2);
           text-shadow: 0 0 20px whitesmoke;
          opacity: 0;
        }
      }
      
      @for $item from 1 through 21 {
        span:nth-of-type(#{$item}){ 
          animation-delay: #{(3 + ($item/10))}s; 
        }
      } 
    }


// header

.nav-link:hover{
    background-color: $amarillo;
    color:#000000 !important;
}

// footer

.footer{
    margin-top: 2rem;
    height: 6rem;
    background-color: black !important;

    a img{
        height: 5rem;
        width: auto;
    }
}



// fin index y generales colores y fuentes


// productos.html

.productos{width: 100%;
    img{
        width: 100%;
        max-width: 400px;
        height: auto;
        text-align: center;
        border-radius: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: transform 0.5s;
    }
    img:hover{
            transform: scale(1.05);
            transition-delay: 0.1s;
    }
}

.productos_chipa{
    img{

        width: 100%;
        max-width: 400px;
        height: auto;
        text-align: center;
        border-radius: 10%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: transform 0.5s;
    }
    img:hover{
        transform: scale(1.05);
        transition-delay: 0.1s;
    }
}

// fin nuestrosproductos.html

// galeriadefotos.html

.carousel-inner{
    margin-top:$unpixel*30px;


    img{
        text-align: center;
        border-radius: 5%;
        border: white 3px solid;
    }
}

.carousel-control-prev-icon{
    margin-right: 25px;
}

.carousel-control-next-icon{
    margin-left: 25px;
}
// fin galeriadefotos.html


// quienessomos.html

.quienes_somos_contenedor{
    font-family: 'Bebas Neue', cursive;
    @extend .titulo_paginas;
    $var1: 100%;
    width: $var1;
    text-align: center;
    padding: 5rem;
    $fontbig: 50px;
    font-size: $fontbig/1.5;
    margin-top: $unpixel*50px;
    color:$negro;
    text-shadow: none;
}

// fin quienessomos.html


// nuestrosclientes.html

.nuestros_clientes_contenedor{
    @extend .quienes_somos_contenedor
}


// fin nuestrosclientes.html


// para pruebas
.bordes{
    border: blue 1px solid;
}

.verde{background-color: green; color: white;}
.rojo{background-color: red; color:white;}

.contenedorFooter{
    a{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    background-color: #000000;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    }

.alturaFooter{
    height: 5rem;
    display: flex;
    justify-content: center;
}
